In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
path=r"SalaryData_Test.csv"

In [3]:
df1=pd.read_csv(path)
df1

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,Private,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
15056,39,Private,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
15057,38,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
15058,44,Private,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
15059,35,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [4]:
df1.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            15060 non-null  int64
 1   workclass      15060 non-null  object
 2   education      15060 non-null  object
 3   educationno    15060 non-null  int64
 4   maritalstatus  15060 non-null  object
 5   occupation     15060 non-null  object
 6   relationship   15060 non-null  object
 7   race           15060 non-null  object
 8   sex            15060 non-null  object
 9   capitalgain    15060 non-null  int64
 10  capitalloss    15060 non-null  int64
 11  hoursperweek   15060 non-null  int64
 12  native         15060 non-null  object
 13  Salary         15060 non-null  object
dtypes: int64(5), object(9)
memory usage: 1.6+ MB

In [6]:
categorical_columns=df1.select_dtypes(include=['object']).columns

In [7]:
categorical_columns

Index(['workclass', 'education', 'maritalstatus', 'occupation', 'relationship',
       'race', 'sex', 'native', 'Salary'],
      dtype='object')

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
label=LabelEncoder()

In [10]:
for i in categorical_columns:
    df1[i]=label.fit_transform(df1[i])

In [11]:
df1

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,2,1,7,4,6,3,2,1,0,0,40,37,0
1,38,2,11,9,2,4,0,4,1,0,0,50,37,0
2,28,1,7,12,2,10,0,4,1,0,0,40,37,1
3,44,2,15,10,2,6,0,2,1,7688,0,40,37,1
4,34,2,0,6,4,7,1,4,1,0,0,30,37,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,2,9,13,4,9,3,4,1,0,0,40,37,0
15056,39,2,9,13,0,9,1,4,0,0,0,36,37,0
15057,38,2,9,13,2,9,0,4,1,0,0,50,37,0
15058,44,2,9,13,0,0,3,1,1,5455,0,40,37,0
15059,35,3,9,13,2,3,0,4,1,0,0,60,37,1

In [12]:
X=df1.iloc[:,:-1]

In [13]:
y=df1.iloc[:,-1]

In [14]:
print(X)

       age  workclass  education  educationno  maritalstatus  occupation  \
0       25          2          1            7              4           6
1       38          2         11            9              2           4
2       28          1          7           12              2          10
3       44          2         15           10              2           6
4       34          2          0            6              4           7
...    ...        ...        ...          ...            ...         ...
15055   33          2          9           13              4           9
15056   39          2          9           13              0           9
15057   38          2          9           13              2           9
15058   44          2          9           13              0           0
15059   35          3          9           13              2           3

       relationship  race  sex  capitalgain  capitalloss  hoursperweek  native
0                 3     2    1            0            0            40      37
1                 0     4    1            0            0            50      37
2                 0     4    1            0            0            40      37
3                 0     2    1         7688            0            40      37
4                 1     4    1            0            0            30      37
...             ...   ...  ...          ...          ...           ...     ...
15055             3     4    1            0            0            40      37
15056             1     4    0            0            0            36      37
15057             0     4    1            0            0            50      37
15058             3     1    1         5455            0            40      37
15059             0     4    1            0            0            60      37

[15060 rows x 13 columns]

In [15]:
print(y)

0        0
1        0
2        1
3        1
4        0
        ..
15055    0
15056    0
15057    0
15058    0
15059    1
Name: Salary, Length: 15060, dtype: int32

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [18]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(10542, 13)
(4518, 13)
(10542,)
(4518,)

In [19]:
from sklearn.naive_bayes import MultinomialNB as MB

In [20]:
from sklearn.naive_bayes import GaussianNB as GB

In [21]:
classifier=MB()

In [22]:
classifier

MultinomialNB()

In [23]:
classifier.fit(X_train,y_train)

MultinomialNB()

In [26]:
y_pred=classifier.predict(X_test)

In [25]:
from sklearn.metrics import accuracy_score

In [27]:
accuracy=accuracy_score(y_test,y_pred)

In [28]:
print(accuracy)

0.7724656927844179

In [29]:
classifier1=GB()

In [30]:
classifier1

GaussianNB()

In [31]:
classifier1.fit(X_train,y_train)

GaussianNB()

In [32]:
y_pred1=classifier1.predict(X_test)

In [33]:
accuracy=accuracy_score(y_test,y_pred1)

In [34]:
print(accuracy)

0.7952633908809208